.title #{locale.billing_info_fields.title}

.payment_method.multiple
  input(type="hidden")
  .payment_option.card_option.selected
    input(type="radio", name="payment_method", value="")
    .accepted_cards

  .payment_option.paypal_option
    input(type="radio", name="payment_method", value="paypal")
    .logo

.credit_card
  .field.first_name
    .placeholder #{locale.billing_info_fields.credit_card.first_name}
    input(type="text")

  .field.last_name
    .placeholder #{locale.billing_info_fields.credit_card.last_name}
    input(type="text")

  .card_cvv
    .field.card_number
      .placeholder #{locale.billing_info_fields.credit_card.card_number}
      input(type="text")

    .field.cvv
      .placeholder #{locale.billing_info_fields.credit_card.cvv} 
      input(type="text")

  .field.expires
    .title #{locale.billing_info_fields.credit_card.expires}
    .month
      select
        include months.jade
    .year
      select

.address
  .field.address1
    .placeholder #{locale.billing_info_fields.address.address1}
    input(type="text")

  .field.address2
    .placeholder #{locale.billing_info_fields.address.address2}
    input(type="text")

  .field.city
    .placeholder #{locale.billing_info_fields.address.city}
    input(type="text")

  .state_zip
    .field.state
      .placeholder #{locale.billing_info_fields.address.state}
      input(type="text")

    .field.zip
      .placeholder #{locale.billing_info_fields.address.zip}
      input(type="text")

  .field.country
    select
      include countries.jade

.field.vat_number
  .placeholder #{locale.billing_info_fields.vat_number}
  input(type="text")

.paypal
  .paypal_message.
    #{locale.billing_info_fields.paypal.authorize}
    <br><br>
    #{locale.billing_info_fields.paypal.popups}




