.title Contact Info

.full_name
  .field.first_name
    .placeholder #{locale.contact_info_fields.first_name} 
    input(type="text")


  .field.last_name
    .placeholder #{locale.contact_info_fields.last_name} 
    input(type="text")

.field.email
  .placeholder #{locale.contact_info_fields.email} 
  input(type="text")

.field.phone
  .placeholder #{locale.contact_info_fields.phone}
  input(type="text")

.field.company_name
  .placeholder #{locale.contact_info_fields.company_name}
  input(type="text")

