form.recurly.subscribe
  //if lt IE 7
    div.iefail
      div.chromeframe
        p.blast #{locale.subscribe_form.iefail.blast}
        p
          a(href="http://browsehappy.com/") #{locale.subscribe_form.iefail.upgrade}
        p #{locale.subscribe_form.iefail.or}
        p
          a(href="http://www.google.com/chromeframe/?redirect=true") #{locale.subscribe_form.iefail.chromeframe}
        p #{locale.subscribe_form.iefail.use}
  .subscription
    .plan 
      .name 
      .field.quantity
        .placeholder #{locale.subscribe_form.subscription.qty}
        input(type="text")

      .recurring_cost
        .cost
        .interval

      .free_trial

      .setup_fee
        .title #{locale.subscribe_form.subscription.setup_fee}
        .cost


    .add_ons.none 

    .coupon
      .coupon_code.field
        .placeholder #{locale.subscribe_form.subscription.coupon}
        input.coupon_code(type="text")
      .check
      .description
      .discount

    .vat
      .title #{locale.subscribe_form.subscription.vat}
      .cost

  .due_now
    .title #{locale.subscribe_form.due}
    .cost 

  .server_errors.none

  .contact_info

  .billing_info

  .accept_tos
 
  .footer
    button.submit(type='submit') #{locale.subscribe_form.subscribe}
