input#tos_check(type="checkbox")
label#accept_tos(for="tos_check") #{locale.terms_of_service.accept} 
  a.tos_link(target="_blank") #{locale.terms_of_service.terms}
  span.and\ #{locale.terms_of_service.and}\ 
  a.pp_link(target="_blank") #{locale.terms_of_service.privacy}
  #{locale.terms_of_service.end}
